<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <title>{{#title}}{{title}} | {{/title}}{{#documentation}}API | {{/documentation}}AmplifyJS - A Component Library for jQuery</title>

  
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
  <link rel="shortcut icon" type="image/png" href="/favicon.png" />
  
  <link rel="apple-touch-icon" href="/apple-touch-icon.png?v={{releaseVersion}}">
  
  <script>
    document.documentElement.className += (window.devicePixelRatio >= 2 ? " x2" : " x1");
  </script>
  
  <link rel="stylesheet" href="/css/style.css?v={{releaseVersion}}" />
  <link rel="stylesheet" media="handheld" href="/css/handheld.css?v={{releaseVersion}}" />

  {{#stylesheets}}
    <style type="text/stylesheet" href="{{this}}?v={{releaseVersion}}" />
  {{/stylesheets}}

  <script src="/js/modernizr-1.5.min.js?v={{releaseVersion}}"></script>

  {{#stylesheets}}
    <script type="text/stylesheet" src="{{this}}?v={{releaseVersion}}"></script>
  {{/stylesheets}}

</head>
<body class="{{#home}}home{{/home}} sub">

  <header class="body">
    <h1 id="logo"><a href="/">AmplifyJS</a></h1>
    <nav class="site">
      <ul>
        <li class="download"><a class="download-link" href="{{downloadLink}}">Download</a></li>
        <li {{#documentation}} class="active" {{/documentation}}><a href="/api/request/">Documentation</a></li>
        
        <li {{#community}} class="active" {{/community}}><a href="/community/">Community</a></li>
        <li {{#support}} class="active" {{/support}}><a href="/support/">Support</a></li>
      </ul>
    </nav>
    <nav class="components">
      <ul>
        <li title="AmplifyJS Request" class="cpt-request {{#request}}active{{/request}}"><a href="/api/request/"><strong>Request</strong></a></li>
        <li title="AmplifyJS Storage" class="cpt-storage {{#store}}active{{/store}}"><a href="/api/store/"><strong>Store</strong></a></li>
        <li title="AmplifyJS Pub/Sub" class="cpt-bus {{#pubsub}}active{{/pubsub}}"><a href="/api/pubsub/"><strong>Pub/Sub</strong></a></li>
      </ul>
    </nav>
  </header>
  
  <section class="body">
<div class="download">
  <a href="http:&#x2F;&#x2F;pub.a2cdn.net&#x2F;amplify&#x2F;amplify-1.1.2.zip" class="red_button download-link"><span>Download <em>v1.1.2</em></span></a>
  <span><a href="https://github.com/appendto/amplify">Source on Github</a> | <a href="/api/request">Documentation</a></span>
</div>